/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 30px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Bhaloo Bhai 2', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.1rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 100px;
    height: 500px;
    align-items: center;
    justify-content: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../bg9.jpg') no-repeat center center/cover;
    height: 600px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

/*services section */
#services{
    margin: 25px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 15px;
    border-radius: 28px;
    background: #efecec;
    margin-bottom: 20px;
}

#services .box img{
    height: 100px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'Bree serif', serif;
}
/* Client Section */
#client-section{
    height: 344px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg') no-repeat center center/cover;
    height: 54%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 14px;
}

#clients img{
    height: 124px;
}
/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    background: url('../contact.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-family: 'Bree serif', serif;
    font-size: 1rem;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree serif', serif;
    font-size: 2.5rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree serif', serif;
    font-size: 1.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}

